In [83]:
import pandas as pd
from tkinter import Tk
from tkinter.filedialog import askopenfilenames

path_list = []
Tk().withdraw()
filename = askopenfilenames()
for path in filename:
    path_list.append(path)

df = pd.concat(
    map(pd.read_csv,path_list), ignore_index=True)

In [84]:
def mean_on_column(name_of_city, name_of_column):
    rslt_df = df.loc[df['KE'] == name_of_city,[name_of_column]].mean()
    rslt_df = round(rslt_df, 2)
    return rslt_df

def sum_on_column(name_of_city, name_of_column):
    rslt_df = df.loc[df['KE'] == name_of_city,[name_of_column]].sum()
    rslt_df = round(rslt_df, 2)
    return rslt_df

In [85]:
list_of_cities = []

for i in range(len(df)):
    if df.loc[i,"KE"] not in list_of_cities and df.loc[i,"KE"] != "nan":
        list_of_cities.append(df.loc[i,"KE"])
print(list_of_cities)
print(df.head())
print(data)

['UP', 'WR', 4, 'BY', 'GD', 'KL', '14', 'KO', 'KR', 'LB', 'LD', 'OL', 'OP', 'PZ', 'RZ', 'WL', 'ZG']
   KE  KS  ...  MIESO_PROC  T_INDEX
0  UP   1  ...        45.2       57
1  UP   1  ...        48.4       72
2  UP   1  ...        45.9       58
3  UP   1  ...        44.5       64
4  UP   1  ...        45.5       67

[5 rows x 22 columns]
KE                     BY
KS                      6
KW                      4
KSE                     2
KP                      2
KDOC           2019-05-23
KH                     72
KRO                    10
KOJ            I364613/13
KRM                    10
KMT           06072082316
KNR            6072000819
KDUR           2018-12-20
KY1                    98
KY2                     0
KY3                  12.1
KY4                     0
KY5                  12.0
OKO                  60.1
T_PRZYR               696
MIESO_PROC           56.7
T_INDEX               116
Name: 3481, dtype: object

In [103]:
#column = input('Please select column you want to mean')
list_of_column = ["KY3","KY5","T_PRZYR","MIESO_PROC","T_INDEX"]
all_list = [[],[],[],[],[]]
lista = []
name_of_column = 0
df3 = pd.DataFrame()
for city in list_of_cities:
    df3 = pd.DataFrame(index = city)
    #lista.append(mean_on_column(city,list_of_column
    for column in list_of_column:
        lista.append(mean_on_column(city,column))
    df3.loc[len(df)] = lista

    #lista.append(mean_on_column(city, list_of_column[name_of_column]))
    name_of_column +=1
print(df3)    
    
#df2 = pd.DataFrame(index = list_of_cities, data = ky3)
#df2 = df2.rename(columns={'OKO':'Wysokość  "oka" polędwicy standar. (mm)'})
#print(df2)

ValueError: cannot set a frame with no defined columns