In [1]:
# importuje niezbędne biblioteki
import pandas as pd
import numpy as np
from tkinter import filedialog
from tkinter import *
import os
import glob

In [2]:
# Wczytuje pliki i łącze je w jeden DF
listOfFiles = []
tempDF = pd.DataFrame()

def get_filenames():
    Tk().withdraw()
    print("Initializing Dialogue... \\nPlease select a file.")
    tk_filenames = filedialog.askdirectory()
    tempDir = tk_filenames
    return tempDir

choosen_dir = get_filenames()

os.chdir(choosen_dir)
for file in glob.glob("*.csv"):
    listOfFiles.append(file)


for file in listOfFiles:
    Table = pd.read_csv(file,sep=',')
    DF1 = pd.DataFrame(Table)
    tempDF = tempDF.append(DF1,ignore_index=True)

DT = tempDF

Initializing Dialogue... \nPlease select a file.

In [12]:
pd. set_option('display.max_columns', None)
DT

,KE,KS,KW,KSE,KP,KDOC,KH,KRO,KOJ,KRM,KMT,KNR,KDUR,KY1,KY2,KY3,KY4,KY5,OKO,T_PRZYR,MIESO_PROC,T_INDEX,DNI,combined,cleared
0,UP,1,22,2,1,2021-01-11,78,50,1075010916,50,1078005816,1078015520,2020-05-18,82,0,17.0,0,19.0,40.0,340,49.1,40,238.0,50|50,8
1,UP,1,22,2,1,2021-02-22,16,50,1042016416,50,1077002918,1016019120,2020-08-01,87,0,17.0,0,19.0,42.0,416,49.6,55,205.0,50|50,8
2,UP,1,30,2,1,2021-01-22,95,50,1104000119,50,1095013117,1095023020,2020-07-08,80,0,18.0,0,19.0,41.0,397,49.0,49,198.0,50|50,8
5,UP,1,22,2,1,2021-02-02,16,50,1042016416,50,1077014516,1016000220,2020-06-24,103,0,21.0,0,19.0,41.0,453,47.7,54,223.0,50|50,8
6,UP,1,30,2,1,2021-01-04,95,50,1104000119,50,1095000319,1095019520,2020-06-02,95,0,23.0,0,23.0,39.0,430,44.6,38,216.0,50|50,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36657,DS,98,30,1,1,2021-05-11,619,70,I600064/16,70,26619001920,26619032320,2020-11-13,122,0,9.2,0,9.2,59.9,683,61.1,110,179.0,70|70,4
36658,DS,98,30,1,1,2021-04-12,619,70,I600064/16,70,26619001920,26619032420,2020-11-13,113,0,7.8,0,9.8,62.5,839,60.2,127,150.0,70|70,4
36659,DS,98,30,1,1,2021-05-11,619,70,I600064/16,70,26619001920,26619032520,2020-11-13,131,0,8.7,0,7.8,58.4,734,61.5,119,179.0,70|70,4
36660,DS,98,30,1,1,2021-05-11,619,70,I600064/16,70,26619001920,26619032620,2020-11-13,128,0,9.7,0,8.9,58.9,717,60.7,113,179.0,70|70,4
36661,DS,98,30,1,1,2021-05-11,619,70,I600064/16,70,26619001920,26619032720,2020-11-13,134,0,9.3,0,7.7,58.9,751,61.4,121,179.0,70|70,4

In [3]:
DT.KY3 = DT.KY3.replace(',', '.',regex = True)
DT.KY5 = DT.KY5.replace(',', '.',regex = True)
DT.OKO = DT.OKO.replace(',', '.',regex = True)
DT.MIESO_PROC = DT.MIESO_PROC.replace(',', '.',regex = True)
DT['KY3'] = DT['KY3'].astype(float)
DT['KY5'] = DT['KY5'].astype(float)
DT['OKO'] = DT['OKO'].astype(float)
DT['MIESO_PROC'] = DT['MIESO_PROC'].astype(float)

In [4]:
DT = DT[['KE','KS','KW','KSE','KP','KDOC','KH','KRO','KOJ','KRM','KMT','KNR','KDUR','KY1','KY2','KY3','KY4','KY5','OKO','T_PRZYR','MIESO_PROC','T_INDEX']]
plec_osobnika= input("Proszę wybrać:\n1 - knur\n2 - locha\n")
knur = DT['KP'] == int(plec_osobnika)
DT = DT[knur]

Proszę wybrać:
1 - knur
2 - locha
 1

In [5]:
DT['KDOC'] = pd.to_datetime(DT['KDOC'])
DT['KDUR'] = pd.to_datetime(DT['KDUR'])
DT['DNI'] = 0
DT['DNI'] = DT['KDOC'] - DT['KDUR']
DT['DNI'] = DT['DNI'] / np.timedelta64(1, 'D')

In [6]:
rok = input("Proszę wybrać rok")
DT = DT[DT['KDOC'].dt.year == int(rok)]
DT = DT.drop_duplicates()

Proszę wybrać rok 2021

In [7]:
DT['KRO'] = DT['KRO'].apply(str)
DT['KRM'] = DT['KRM'].apply(str)
DT['combined'] = DT['KRO']+"|"+DT['KRM']
clear_dict = {}
clear_dict['10|10'] = 1
clear_dict['20|20'] = 2
clear_dict['60|60'] = 3
clear_dict['70|70'] = 4
clear_dict['80|80'] = 5
clear_dict['90|90'] = 6
clear_dict['30|30'] = 7
clear_dict['50|50'] = 8
clear_dict['40|40'] = 9
DT['cleared'] = DT['combined'].apply(lambda y:clear_dict[y] if y in clear_dict.keys() else y)
rest = DT[DT['cleared'].str.contains('|') == True]

In [8]:
wbp = DT.where(DT['cleared'] == 1).dropna()
pbz = DT.where(DT['cleared'] == 2).dropna()
hamp = DT.where(DT['cleared'] == 3).dropna()
dur = DT.where(DT['cleared'] == 4).dropna()
piet = DT.where(DT['cleared'] == 5).dropna()
l990 = DT.where(DT['cleared'] == 6).dropna()
zb = DT.where(DT['cleared'] == 7).dropna()
zps = DT.where(DT['cleared'] == 8).dropna()
pula = DT.where(DT['cleared'] == 9).dropna()

In [9]:
def createDT(race,DT):
    if plec_osobnika == 1:
        temp = pd.DataFrame(columns=['Rasa',"Liczba Knurów",'Wiek w dniu oceny','Masa ciała w dniu oceny (kg)','Średnia grubość słoniny standar. (mm)',
                    'Wysokość "oka" polędwicy standar. (mm)','Przyrost dzienny standar. (g)', 'Procentowa zawartość mięsa standar.',
                    'Indeks (pkt)'],index =[1])
        if race is wbp:
            temp['Rasa'] = "WBP"
        elif race is pbz:
            temp['Rasa'] = "PBZ"
        elif race is hamp:
            temp['Rasa'] = "Hampshire"
        elif race is dur:
            temp['Rasa'] = "Duroc"
        elif race is piet:
            temp['Rasa'] = "Pietrain"
        elif race is l990:
            temp['Rasa'] = "Linia 990"
        elif race is zb:
            temp['Rasa'] = "Złotnicka Biała"
        elif race is zps:
            temp['Rasa'] = "Złotnicka Pstra"
        elif race is pula:
            temp['Rasa'] = "Puławska"
        elif race is rest:
            temp['Rasa'] = "Mieszańce"
        return temp
    else:
        temp = pd.DataFrame(columns=['Rasa',"Liczba Loch",'Wiek w dniu oceny','Masa ciała w dniu oceny (kg)','Średnia grubość słoniny standar. (mm)',
                    'Wysokość "oka" polędwicy standar. (mm)','Przyrost dzienny standar. (g)', 'Procentowa zawartość mięsa standar.',
                    'Indeks (pkt)'],index =[1])
        if race is wbp:
            temp['Rasa'] = "WBP"
        elif race is pbz:
            temp['Rasa'] = "PBZ"
        elif race is hamp:
            temp['Rasa'] = "Hampshire"
        elif race is piet:
            temp['Rasa'] = "Pietrain"
        elif race is l990:
            temp['Rasa'] = "Linia 990"
        elif race is zb:
            temp['Rasa'] = "Złotnicka Biała"
        elif race is zps:
            temp['Rasa'] = "Złotnicka Pstra"
        elif race is pula:
            temp['Rasa'] = "Puławska"
        elif race is rest:
            temp['Rasa'] = "Mieszańce"
        return temp

In [10]:
def new_count(DT,DT2):
    if plec_osobnika == 1:
        DT2['Liczba Knurów'] = len(DT)
    else:
        DT2["Liczba Loch"] = len(DT)
    DT2['Wiek w dniu oceny'] = DT['DNI'].mean()
    DT2['Wiek w dniu oceny'] = DT2['Wiek w dniu oceny'].round(decimals=0)
    DT2['Wiek w dniu oceny'] = DT2['Wiek w dniu oceny'].astype(int)
    DT2['Masa ciała w dniu oceny (kg)'] = np.around(DT['KY1'].mean())
    DT2['Masa ciała w dniu oceny (kg)'] = DT2['Masa ciała w dniu oceny (kg)'].astype(int)
    DT2['Średnia grubość słoniny standar. (mm)'] = np.around(((DT['KY3']+DT['KY5'])/2).mean(),decimals=2)
    DT2['Wysokość "oka" polędwicy standar. (mm)'] = np.around(DT['OKO'].mean(),decimals=2)
    DT2['Przyrost dzienny standar. (g)'] = np.around(DT['T_PRZYR'].mean())
    DT2['Przyrost dzienny standar. (g)'] = DT2['Przyrost dzienny standar. (g)'].astype(int)
    DT2['Procentowa zawartość mięsa standar.'] = np.around(DT['MIESO_PROC'].mean(),decimals=2)
    DT2['Indeks (pkt)'] = np.around(DT['T_INDEX'].mean())
    DT2['Indeks (pkt)'] = DT2['Indeks (pkt)'].astype(int)
    return DT2

In [11]:
race_list = [wbp,pbz,hamp,dur,piet,l990,zb,zps,pula,rest]
DF = pd.DataFrame()
for race in race_list:
    if race.empty:
        continue
    tempDF = createDT(race,race)
    tempDF2 = new_count(race,tempDF)
    DF = pd.concat([DF,tempDF2])

DF.set_index("Rasa",inplace = True)

In [12]:
DF

,Liczba Loch,Wiek w dniu oceny,Masa ciała w dniu oceny (kg),Średnia grubość słoniny standar. (mm),"Wysokość ""oka"" polędwicy standar. (mm)",Przyrost dzienny standar. (g),Procentowa zawartość mięsa standar.,Indeks (pkt)
Rasa,,,,,,,,
WBP,388,178,133,9.01,60.18,755,61.50,129
PBZ,1132,180,132,9.14,58.66,739,61.06,125
Hampshire,12,188,157,9.18,64.17,815,63.62,140
NaN,162,182,143,8.57,61.22,790,62.57,131
Pietrain,137,191,133,7.67,65.10,682,64.27,125
Linia 990,44,164,112,8.46,58.29,721,60.09,110
Złotnicka Biała,7,199,97,14.14,44.86,485,53.71,81
Złotnicka Pstra,15,208,86,19.87,40.67,409,47.69,46
Puławska,694,184,105,13.21,53.89,567,55.90,82
Mieszańce,1100,181,134,8.54,62.22,741,62.89,126

In [13]:
WBP = createDT('Wbp',wbp)
new_count(wbp,WBP)

PBZ = createDT('Pbz',pbz)
new_count(pbz,PBZ)

HAMP = createDT('Hampshire',hamp)
new_count(hamp,HAMP)

DUR = createDT('Duroc',dur)
new_count(dur,DUR)

PIET = createDT('Pietrain',piet)
new_count(piet,PIET)

L990 = createDT('Linia 990',l990)
new_count(l990,L990)

ZB = createDT('Złotnicka biała',zb)
new_count(zb,ZB)

ZPS = createDT('Złotnica pstra',zps)
new_count(zps,ZPS)

PULA = createDT('Puławska',pula)
new_count(pula,PULA)

REST = createDT('Mieszańce',rest)
new_count(rest,REST)

,Rasa,Liczba Loch,Wiek w dniu oceny,Masa ciała w dniu oceny (kg),Średnia grubość słoniny standar. (mm),"Wysokość ""oka"" polędwicy standar. (mm)",Przyrost dzienny standar. (g),Procentowa zawartość mięsa standar.,Indeks (pkt)
1,NaN,1100,181,134,8.54,62.22,741,62.89,126

In [127]:
'''def createDTCity(city, race,DT):
    if DT['KP'].all() == 1:
        temp = pd.DataFrame(columns=['Filia "POLSUS"',"Rasa","Liczba Knurów",'Wiek w dniu oceny','Masa ciała w dniu oceny (kg)','Średnia grubość słoniny standar. (mm)',
                         'Wysokość "oka" polędwicy standar. (mm)','Przyrost dzienny standar. (g)', 'Procentowa zawartość mięsa standar.',
                         'Indeks (pkt)'])

        temp['Filia "POLSUS"'] = city

        if race is wbp:
            temp['Rasa'] = "WBP"
        elif race is pbz:
            temp['Rasa'] = "PBZ"
        elif race is hamp:
            temp['Rasa'] = "Hampshire"
        elif race is piet:
            temp['Rasa'] = "Pietrain"
        elif race is l990:
            temp['Rasa'] = "Linia 990"
        elif race is zb:
            temp['Rasa'] = "Złotnicka Biała"
        elif race is zps:
            temp['Rasa'] = "Złotnicka Pstra"
        elif race is pula:
            temp['Rasa'] = "Puławska"
        elif race is rest:
            temp['Rasa'] = "Mieszańce" 

    else:
        temp = pd.DataFrame(columns=['Filia "POLSUS"',"Rasa","Liczba Loch",'Wiek w dniu oceny','Masa ciała w dniu oceny (kg)','Średnia grubość słoniny standar. (mm)',
                         'Wysokość "oka" polędwicy standar. (mm)','Przyrost dzienny standar. (g)', 'Procentowa zawartość mięsa standar.',
                         'Indeks (pkt)'])

        temp['Filia "POLSUS"'] = city

        if race is wbp:
            temp['Rasa'] = "WBP"
        elif race is pbz:
            temp['Rasa'] = "PBZ"
        elif race is hamp:
            temp['Rasa'] = "Hampshire"
        elif race is piet:
            temp['Rasa'] = "Pietrain"
        elif race is l990:
            temp['Rasa'] = "Linia 990"
        elif race is zb:
            temp['Rasa'] = "Złotnicka Biała"
        elif race is zps:
            temp['Rasa'] = "Złotnicka Pstra"
        elif race is pula:
            temp['Rasa'] = "Puławska"
        elif race is rest:
            temp['Rasa'] = "Mieszańce" 
            
    return temp'''

'def createDTCity(city, race,DT):\n    if DT[\'KP\'].all() == 1:\n        temp = pd.DataFrame(columns=[\'Filia "POLSUS"\',"Rasa","Liczba Knurów",\'Wiek w dniu oceny\',\'Masa ciała w dniu oceny (kg)\',\'Średnia grubość słoniny standar. (mm)\',\n                         \'Wysokość "oka" polędwicy standar. (mm)\',\'Przyrost dzienny standar. (g)\', \'Procentowa zawartość mięsa standar.\',\n                         \'Indeks (pkt)\'])\n\n        temp[\'Filia "POLSUS"\'] = city\n\n        if race is wbp:\n            temp[\'Rasa\'] = "WBP"\n        elif race is pbz:\n            temp[\'Rasa\'] = "PBZ"\n        elif race is hamp:\n            temp[\'Rasa\'] = "Hampshire"\n        elif race is piet:\n            temp[\'Rasa\'] = "Pietrain"\n        elif race is l990:\n            temp[\'Rasa\'] = "Linia 990"\n        elif race is zb:\n            temp[\'Rasa\'] = "Złotnicka Biała"\n        elif race is zps:\n            temp[\'Rasa\'] = "Złotnicka Pstra"\n        elif race is pula:\n            temp[\'Rasa\'] = "Puławska"\n        elif race is rest:\n            temp[\'Rasa\'] = "Mieszańce" \n\n    else:\n        temp = pd.DataFrame(columns=[\'Filia "POLSUS"\',"Rasa","Liczba Loch",\'Wiek w dniu oceny\',\'Masa ciała w dniu oceny (kg)\',\'Średnia grubość słoniny standar. (mm)\',\n                         \'Wysokość "oka" polędwicy standar. (mm)\',\'Przyrost dzienny standar. (g)\', \'Procentowa zawartość mięsa standar.\',\n                         \'Indeks (pkt)\'])\n\n        temp[\'Filia "POLSUS"\'] = city\n\n        if race is wbp:\n            temp[\'Rasa\'] = "WBP"\n        elif race is pbz:\n            temp[\'Rasa\'] = "PBZ"\n        elif race is hamp:\n            temp[\'Rasa\'] = "Hampshire"\n        elif race is piet:\n            temp[\'Rasa\'] = "Pietrain"\n        elif race is l990:\n            temp[\'Rasa\'] = "Linia 990"\n        elif race is zb:\n            temp[\'Rasa\'] = "Złotnicka Biała"\n        elif race is zps:\n            temp[\'Rasa\'] = "Złotnicka Pstra"\n        elif race is pula:\n            temp[\'Rasa\'] = "Puławska"\n        elif race is rest:\n            temp[\'Rasa\'] = "Mieszańce" \n            \n    return temp'

In [14]:
def createDTCity():
    temp = pd.DataFrame(columns=['Filia "POLSUS"',"Liczba Knurów",'Wiek w dniu oceny','Masa ciała w dniu oceny (kg)','Średnia grubość słoniny standar. (mm)',
                     'Wysokość "oka" polędwicy standar. (mm)','Przyrost dzienny standar. (g)', 'Procentowa zawartość mięsa standar.',
                     'Indeks (pkt)'])
    temp['Filia "POLSUS"'] = ["Wrocław", "Bydgoszcz","Lublin","Zielona Góra","Łódź","Kraków","Warszawa","Opole","Rzeszów","Białystok","Gdańsk",
                     "Katowice","Kielce","Olsztyn","Poznań","Koszalin"]
    temp = pd.DataFrame(temp).set_index('Filia "POLSUS"')
    return temp

In [15]:
dic_miasta = {2:'Wrocław',
             4:'Bydgoszcz',
             6:'Lublin',
             8:'Zielona Góra',
             10:'Łódź',
             12:'Kraków',
             14:'Warszawa',
             16:'Opole',
             18:'Rzeszów',
             20:'Białystok',
             22:'Gdańsk',
             24:'Katowice',
             26:'Kielce',
             28:'Olsztyn',
             30:'Poznań',
             32:'Koszalin'}

In [16]:
def round_float(s):
    '''1. if s is float, round it to 0 decimals
       2. else return s as is
    '''
    import re
    m = re.match("(\d+\.\d+)",s.__str__())
    try:
        r = round(float(m.groups(0)[0]),2)
    except:
        r = s
    return r

def split_it(days):
    return re.compile('^\d{3}', days)

def split_2(days2):
    return re.findall('(\[)', days2)

def city_count(DT,PDT):
    for i, sub in PDT.groupby('KW'):
        DT.loc[dic_miasta[i]]['Liczba Knurów'] = sub.KY1.agg(len)
        DT.loc[dic_miasta[i]]['Masa ciała w dniu oceny (kg)'] = sub.KY1.mean()
        DT.loc[dic_miasta[i]]['Wiek w dniu oceny'] = sub.DNI.mean()
        DT.loc[dic_miasta[i]]['Średnia grubość słoniny standar. (mm)'] = ((sub.KY3 + sub.KY5)/2).mean()
        DT.loc[dic_miasta[i]]['Wysokość "oka" polędwicy standar. (mm)'] = sub.OKO.mean()
        DT.loc[dic_miasta[i]]['Przyrost dzienny standar. (g)'] = sub.T_PRZYR.mean()
        DT.loc[dic_miasta[i]]['Procentowa zawartość mięsa standar.'] = sub.MIESO_PROC.mean()
        DT.loc[dic_miasta[i]]['Indeks (pkt)'] = sub.T_INDEX.mean()


def roundup(DT):
    DT.dropna(inplace=True)
    DT['Wiek w dniu oceny'] = DT['Wiek w dniu oceny'].astype(int)
    DT['Masa ciała w dniu oceny (kg)'] = DT['Masa ciała w dniu oceny (kg)'].astype(int)
    DT['Średnia grubość słoniny standar. (mm)'] = DT['Średnia grubość słoniny standar. (mm)'].apply(round_float)
    DT['Wysokość "oka" polędwicy standar. (mm)'] = DT['Wysokość "oka" polędwicy standar. (mm)'].apply(round_float)
    DT['Procentowa zawartość mięsa standar.'] = DT['Procentowa zawartość mięsa standar.'].apply(round_float)
    DT['Przyrost dzienny standar. (g)'] = DT['Przyrost dzienny standar. (g)'].astype(int)
    DT['Indeks (pkt)'] = DT['Indeks (pkt)'].astype(int)
    return DT

In [17]:
city_wbp = createDTCity()
city_count(city_wbp,wbp)
roundup(city_wbp)

city_pbz = createDTCity()
city_count(city_pbz,pbz)
roundup(city_pbz)

city_hamp = createDTCity()
city_count(city_hamp,hamp)
roundup(city_hamp)

city_dur = createDTCity()
city_count(city_dur,dur)
roundup(city_dur)

city_piet = createDTCity()
city_count(city_piet,piet)
roundup(city_piet)

city_l990 = createDTCity()
city_count(city_l990,l990)
roundup(city_l990)

city_zb = createDTCity()
city_count(city_zb,zb)
roundup(city_zb)

city_zps = createDTCity()
city_count(city_zps,zps)
roundup(city_zps)

city_pula = createDTCity()
city_count(city_pula,pula)
roundup(city_pula)

city_rest = createDTCity()
city_count(city_rest,rest)
roundup(city_rest)

#table to display
last2 = pd.concat([city_wbp,city_pbz,city_hamp,city_dur,city_piet,city_l990,city_zb,city_zps,city_pula,city_rest],keys=['Wbp','Pbz','Hampshire','Duroc','Pietrain','Linia 990','Złotnicka biała','Złotnicka pstra','Puławska','Mieszańce'])

In [20]:
last2.sort_index(inplace=True)