In [75]:
# importuje niezbędne biblioteki
import re
from datetime import datetime
import pandas as pd
import numpy as np
from tkinter import filedialog
from tkinter import *
import os, sys
import glob
from matplotlib.backends.backend_pdf import PdfPages
import time

In [76]:
# Tworzymy listę i dwa puste DF
listOfFiles = []
DFL = pd.DataFrame()
DFM = pd.DataFrame()

In [77]:
# Funkcja pobiera listę ścieżek
def get_filenames():
    Tk().withdraw()
    print("Initializing Dialogue... \nPlease select a file.")
    tk_filenames = filedialog.askdirectory()
    tempDir = tk_filenames
    return tempDir


choosen_dir = get_filenames()
# glob zbiera listę plików 
os.chdir(choosen_dir)
for file in glob.glob("*.csv"):
    listOfFiles.append(file)

# Do wcześniej stworzonych DF dodajemy kolejno pliki w zależności od tego na jaką literę plik się zaczyna.
for file in listOfFiles:
    if file.startswith('L'):
        Table = pd.read_csv(file, sep=',')
        DF1 = pd.DataFrame(Table)
        DFL = DFL.append(DF1, sort=False)
    elif file.startswith('M'):
        Table2 = pd.read_csv(file, sep=',')
        DF2 = pd.DataFrame(Table2)
        DFM = DFM.append(DF2, sort=False)

Initializing Dialogue...
Please select a file.

In [78]:
# Deklaruje listę kolumn którę będą mi potrzebne
DFL['NMIOT'] = 1
cols1 = ['LPROS1', 'LRASA1', 'LDUR', 'LDOP', 'LRASAOJ', 'LIL11', 'LIL21','LWAGA1','M_WAGUR','LDBRAK','NMIOT','LREJ1',
        'LWOJ1', 'LSEK1', 'LSTA1','NROJM1','LSUT1', 'NRMAM1', 'NOJMIO']
DFL = DFL[cols1]

In [79]:
# Zmieniam nazwy kolumn tak by odpowiadały kolumnon z DFL
DFM['LSUT1'] = np.nan  
DFM = DFM.rename(columns={'LDUR': 'LDUR1'})
DFM = DFM.rename(columns={'LDOP': 'LDUR'})
DFM = DFM.rename(columns={'LDUR1': 'LDOP'})
DFM = DFM.rename(columns={'RASAOJ': 'LRASAOJ'})
DFM = DFM.rename(columns={'NRO': 'NROJM1'})
DFM = DFM.rename(columns={'LREJ': 'LREJ1'})
DFM = DFM.rename(columns={'LWOJ': 'LWOJ1'})
# Deklaruje listę kolumn którę będą mi potrzebne
cols2 = ['LPROS1', 'LRASA1', 'LDUR', 'LDOP', 'LRASAOJ', 'LIL11', 'LIL21','LWAGA1','M_WAGUR','LDBRAK','NMIOT','LREJ1',
        'LWOJ1', 'LSEK1', 'LSTA1','LSUT1','NROJM1']
DFM = DFM[cols2]

In [80]:
#LLLLL
#NOJMIO - numer ojca miotu pierwszego
#NROJM1, MRMAM1 - rodzice LPROS1 
#LDUR - DURL - data urodzenia lochy
#LDOP - DURM - data urodzenia miotu
#MMMMM
#NRO - numer ojca miotu kolejnego

In [81]:
# Rozdzielam sutki prawe od lewych
DFL['PSUT'] = DFL['LSUT1'].astype(str).str[1]
DFL['LSUT1'] = DFL['LSUT1'].astype(str).str[0]

In [82]:
# Convertuje liczby sutków do inta
convert_dict = {'LSUT1': int,
                'PSUT': int
               }
  
DFL = DFL.astype(convert_dict)

In [83]:
# Liczę sumę sutków prawych i lewych
DFL['ISUT'] = DFL['PSUT'] + DFL['LSUT1']

In [84]:
# Wprowadzamy przedział czasowy z jakiego będą pobieranie dane
date1 = input('Date range from YYYY-MM-DD') 
date2 = input('Date range to YYYY-MM-DD')

Date range from YYYY-MM-DD 2019-12-12
Date range to YYYY-MM-DD 2020-12-11

In [85]:
# Funkcja zamienia format kolumn na format daty
class ToDate():

    def change_to_date(self, a, b):
        a[b] = pd.to_datetime(a[b])


dat = ToDate()
dat.change_to_date(DFL, 'LDOP')
dat.change_to_date(DFM, 'LDOP')
dat.change_to_date(DFL, 'LDUR')
dat.change_to_date(DFM, 'LDUR')

In [86]:
# W DF zostawaimy tylko dane z wcześniej zadeklarowanego przedziału czasowego
DFL = DFL[(DFL['LDOP'] >= date1) & (DFL['LDOP'] <= date2)]
DFM = DFM[(DFM['LDOP'] >= date1) & (DFM['LDOP'] <= date2)]

In [87]:
# Wyliczamy:
# Datę pierwszego oprosienia
DFL['POP'] = DFL['LDOP'] - DFL['LDUR']
# Okres międzymiotu
DFM['OMM'] = DFM['LDOP'] - DFM['LDUR']
# Zamieniam ww wartości na dni
DFL['POP'] = DFL['POP'] / np.timedelta64(1, 'D')
DFM['OMM'] = DFM['OMM'] / np.timedelta64(1, 'D')

In [88]:
# W zmiennej DF3 łączymy poprzednie DF
DF3 = DFL.append(DFM)

In [89]:
DF3 = DF3.rename(columns={'LDUR': 'DURL'})
DF3 = DF3.rename(columns={'LDOP': 'DURM'})

In [90]:
# Wyliczamy ile prosiąt nie dożyło 21 dnia życia
DF3['STRATY'] = DF3['LIL11'] - DF3['LIL21']

In [91]:
# Wyliczamy wartość % strat
DF3['ST21'] = (DF3['STRATY'] / DF3['LIL11']) * 100

In [92]:
# Funkcja tworzy DF z określonymi już kolumnami
def createDT(name):
    temp = pd.DataFrame(columns = ['Rasa','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])
    temp['Rasa'] = name
    return temp

In [93]:
# Funkcja sortuje dane po odpowiedniej rasie
def sortedDT(DT, col, number):
    newDT = DT[DT[col] == number]
    return newDT
# Funkcja sortuje dane po rasie matki i rasie ojca
def sorted2DT(DT,number1,number2):
    newDT = DT[(DT.LRASA1 == number1) & (DT.LRASAOJ == number2)]
    return newDT

def months(DT, col, col2):
    newDT = DT[DT[col] != DT[col2]]
    return newDT


'''def birth(DFL, DFM):
    if len(DFL) > 0:
        pigs = DFL[['LIL11', 'LIL21']]
        pigs2 = DFM[['LIL11', 'LIL21']]
        pigs = pigs.append(pigs2)
        pigs['straty'] = pigs['LIL11'] - pigs['LIL21']
        pigs['ST21'] = (pigs['straty'] / pigs['LIL11']) * 100
        return pigs
    else:
        pigs = DFM[['LIL11', 'LIL21']]
        pigs['straty'] = pigs['LIL11'] - pigs['LIL21']
        pigs['ST21'] = (pigs['straty'] / pigs['LIL11']) * 100
        return pigs

    return s'''

"def birth(DFL, DFM):\n    if len(DFL) > 0:\n        pigs = DFL[['LIL11', 'LIL21']]\n        pigs2 = DFM[['LIL11', 'LIL21']]\n        pigs = pigs.append(pigs2)\n        pigs['straty'] = pigs['LIL11'] - pigs['LIL21']\n        pigs['ST21'] = (pigs['straty'] / pigs['LIL11']) * 100\n        return pigs\n    else:\n        pigs = DFM[['LIL11', 'LIL21']]\n        pigs['straty'] = pigs['LIL11'] - pigs['LIL21']\n        pigs['ST21'] = (pigs['straty'] / pigs['LIL11']) * 100\n        return pigs\n\n    return s"

In [94]:
'''hybryd1 = DF3['LRASA1']
hybryd2 = DF3['LRASAOJ']
nonHybryd = hybryd1 == hybryd2
hybryd = hybryd1!=hybryd2
DF4 = DF3[hybryd]
DF3 = DF3[nonHybryd]'''

"hybryd1 = DF3['LRASA1']\nhybryd2 = DF3['LRASAOJ']\nnonHybryd = hybryd1 == hybryd2\nhybryd = hybryd1!=hybryd2\nDF4 = DF3[hybryd]\nDF3 = DF3[nonHybryd]"

In [95]:
#'liczba ocenionych miotów ogółem' = len(DF3)
# 'liczba ocenionych miotów pierw.' = len (DF3)'NMIOT == 1 '
# liczba loch = LRPOS1.drop_duplicate()
# miedzymioty = nowa kolumna

In [96]:
# Funkcja wylicza wszystkie niezbędne wartości i przypisuje je do DF
def all_count(DF3, new):
    new['liczba loch'] = len(DF3.drop_duplicates(subset='LPROS1', keep="first").copy())
    new['liczba ocenionych miotów ogółem'] = len(DF3)
    new['liczba ocenionych miotów pierw.'] = len(DF3[DF3['NMIOT']==1])
    new['Liczba prosiąt urodzonych w miocie'] = np.around(DF3['LIL11'].mean(), decimals=2)
    new['Liczba prosiąt w 21 dniu życia'] = np.around(DF3['LIL21'].mean(), decimals=2)
    new['Straty prosiąt do 21 dnia życia'] = np.around(DF3['ST21'].mean(), decimals=2)
    new['Wiek w dniu pierwszego oprosienia(dni)'] = np.around(DF3['POP'].mean())
    new['Okres miedzymiotu(dni)'] = np.around(DF3['OMM'].mean())
    new['Liczba sutków lochy'] = np.around(DF3['ISUT'].mean(), decimals=2)

    return new

In [97]:
HAMP = createDT('Hampshire')
hamp = sortedDT(DF3,'LRASA1',60).copy()
all_count(hamp,HAMP)

,Rasa,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
1,Hampshire,13,26,5,12.42,11.04,11.15,14.2,445.0,182.0

In [98]:
WBP = createDT('Wbp')
wbp = sortedDT(DF3,'LRASA1',10).copy()
all_count(wbp,WBP)

PBZ = createDT('Pbz')
pbz = sortedDT(DF3,'LRASA1',20).copy()
all_count(pbz,PBZ)

HAMP = createDT('Hampshire')
hamp = sortedDT(DF3,'LRASA1',60).copy()
all_count(hamp,HAMP)

DUR = createDT('Duroc')
dur = sortedDT(DF3,'LRASA1',70).copy()
all_count(dur,DUR)

PIET = createDT('Pietrain')
piet = sortedDT(DF3,'LRASA1',80).copy()
all_count(piet,PIET)

L99 = createDT('Linia 990')
l99 = sortedDT(DF3,'LRASA1',90).copy()
all_count(l99,L99)

ZB = createDT('Złotnicka Biała')
zb = sortedDT(DF3,'LRASA1',30).copy()
all_count(zb,ZB)

ZPS = createDT('Złotnicka Pstra')
zps = sortedDT(DF3,'LRASA1',50).copy()
all_count(zps,ZPS)

PULA = createDT('Puławska')
pula = sortedDT(DF3,'LRASA1',40).copy()
all_count(pula,PULA)

,Rasa,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
1,Puławska,2110,3316,590,10.29,9.14,10.64,14.34,378.0,202.0

In [99]:
last = pd.concat([WBP,PBZ,HAMP,DUR,PIET,L99,PULA,ZB,ZPS])
last.set_index('Rasa',inplace=True)
last

,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
Rasa,,,,,,,,,
Wbp,1944,3315,736,12.48,11.65,6.26,14.99,365.0,167.0
Pbz,3104,5134,1287,12.65,11.72,6.82,15.29,359.0,173.0
Hampshire,13,26,5,12.42,11.04,11.15,14.20,445.0,182.0
Duroc,328,556,103,11.87,10.82,8.26,13.66,371.0,180.0
Pietrain,298,522,95,11.58,10.90,5.54,14.11,383.0,181.0
Linia 990,895,1580,335,9.96,9.48,4.78,14.19,374.0,155.0
Puławska,2110,3316,590,10.29,9.14,10.64,14.34,378.0,202.0
Złotnicka Biała,1134,1627,208,8.62,8.00,6.44,14.00,384.0,235.0
Złotnicka Pstra,998,1272,167,8.24,6.98,14.56,13.24,426.0,262.0

In [103]:
# Deklaruje słoknik miast
dic_miasta = {2:'Warszawa',
             4:'Białystok',
             6:'Bydgoszcz',
             8:'Gdańsk',
             10:'Katowice',
             12:'Kielce',
             14:'Koszalin',
             16:'Kraków',
             18:'Lublin',
             20:'Łódź',
             22:'Olsztyn',
             24:'Opole',
             26:'Poznań',
             28:'Rzeszów',
             32:'Wrocław',
             34:'Zielona Góra'}
# Deklaruje listę wydzielonych ras
race_list = [wbp,pbz,hamp,dur,piet,l99,zb,zps,pula]
race_names = ['WBP','PBZ','Hampshire','Duroc','Pietrain','Linia 990','PUL','ZLB','ZLP']

In [100]:
def create_cityDT(city, race):
    temp = pd.DataFrame(columns = ['Rasa', 'Miasto','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])
    temp['Rasa'] = race
    temp['Miasto'] = city
    return temp

cityDF = pd.DataFrame(columns = ['Rasa', 'Miasto','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])

temp =  pd.DataFrame(columns = ['Rasa', 'Miasto','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])

temp_dic = {}
z = 0
for i in race_list:
        
    for x in dic_miasta:
        tempx = sortedDT(i, 'LWOJ1', x)
        
        tempy = create_cityDT(dic_miasta[x], race_names[z])
        all_count(tempx, tempy)
        temp_dic[x]=tempy
        if z < 8:
            z+=1

In [101]:
wbp_wwa = sortedDT(wbp, 'LREJ1',2)
wbp_bia = sortedDT(wbp, 'LREJ1',4)
wbp_byd = sortedDT(wbp, 'LREJ1',6)
wbp_gda = sortedDT(wbp, 'LREJ1',8)
wbp_kta = sortedDT(wbp, 'LREJ1',10)
wbp_kie = sortedDT(wbp, 'LREJ1',12)
wbp_kos = sortedDT(wbp, 'LREJ1',14)
wbp_krk = sortedDT(wbp, 'LREJ1',16)
wbp_lbl = sortedDT(wbp, 'LREJ1',18)
wbp_ldz = sortedDT(wbp, 'LREJ1',20)
wbp_ols = sortedDT(wbp, 'LREJ1',22)
wbp_opo = sortedDT(wbp, 'LREJ1',24)
wbp_poz = sortedDT(wbp, 'LREJ1',26)
wbp_rze = sortedDT(wbp, 'LREJ1',28)
wbp_wrc = sortedDT(wbp, 'LREJ1',32)
wbp_zgo = sortedDT(wbp, 'LREJ1',34)

In [102]:
wbp_wwa2 = create_cityDT('Warszawa','wbp')
wbp_bia2 = create_cityDT('Białystok','wbp')
wbp_byd2 = create_cityDT('Bydgoszcz','wbp')
wbp_gda2 = create_cityDT('Gdańsk','wbp')
wbp_kta2 = create_cityDT('Katowice','wbp')
wbp_kie2 = create_cityDT('Kielce','wbp')
wbp_kos2 = create_cityDT('Koszalin','wbp')
wbp_krk2 = create_cityDT('Kraków','wbp')
wbp_lbl2 = create_cityDT('Lublin','wbp')
wbp_ldz2 = create_cityDT('Łódź','wbp')
wbp_ols2 = create_cityDT('Olsztyn','wbp')
wbp_opo2 = create_cityDT('Opole','wbp')
wbp_poz2 = create_cityDT('Poznań','wbp')
wbp_rze2 = create_cityDT('Rzeszów','wbp')
wbp_wrc2 = create_cityDT('Wrocław','wbp')
wbp_zgo2 = create_cityDT('Zielona Góra','wbp')

In [104]:
all_count(wbp_wwa,wbp_wwa2)
all_count(wbp_bia,wbp_bia2)
all_count(wbp_byd,wbp_byd2)
all_count(wbp_gda,wbp_gda2)
all_count(wbp_kta,wbp_kta2)
all_count(wbp_kie,wbp_kie2)
all_count(wbp_kos,wbp_kos2)
all_count(wbp_krk,wbp_krk2)
all_count(wbp_lbl,wbp_lbl2)
all_count(wbp_ldz,wbp_ldz2)
all_count(wbp_ols,wbp_ols2)
all_count(wbp_opo,wbp_opo2)
all_count(wbp_poz,wbp_poz2)
all_count(wbp_rze,wbp_rze2)
all_count(wbp_wrc,wbp_wrc2)
all_count(wbp_zgo,wbp_zgo2)

,Rasa,Miasto,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
1,wbp,Zielona Góra,15,26,7,11.58,10.85,5.68,14.0,333.0,182.0

In [105]:
all_of_cr = pd.concat([wbp_wwa2, wbp_bia2, wbp_byd2, wbp_gda2, wbp_kta2, wbp_kie2, wbp_kos2, wbp_krk2, wbp_lbl2, wbp_ldz2, wbp_ols2, wbp_opo2, wbp_poz2, wbp_rze2, wbp_wrc2, wbp_zgo2])
all_of_cr.set_index(['Rasa','Miasto'])

                   liczba loch  liczba ocenionych miotów ogółem  \
Rasa Miasto
wbp  Warszawa               30                               46
     Białystok              53                              104
     Bydgoszcz             656                             1178
     Gdańsk                 79                              113
     Katowice                0                                0
     Kielce                  0                                0
     Koszalin                0                                0
     Kraków                  0                                0
     Lublin                 79                              129
     Łódź                   66                               97
     Olsztyn                58                              106
     Opole                   0                                0
     Poznań                400                              679
     Rzeszów                80                              145
     Wrocław                35                               60
     Zielona Góra           15                               26

                   liczba ocenionych miotów pierw.  \
Rasa Miasto
wbp  Warszawa                                   14
     Białystok                                   1
     Bydgoszcz                                 236
     Gdańsk                                     42
     Katowice                                    0
     Kielce                                      0
     Koszalin                                    0
     Kraków                                      0
     Lublin                                     36
     Łódź                                       38
     Olsztyn                                    16
     Opole                                       0
     Poznań                                    126
     Rzeszów                                    38
     Wrocław                                    14
     Zielona Góra                                7

                   Liczba prosiąt urodzonych w miocie  \
Rasa Miasto
wbp  Warszawa                                   13.15
     Białystok                                  14.01
     Bydgoszcz                                  12.46
     Gdańsk                                     12.06
     Katowice                                     NaN
     Kielce                                       NaN
     Koszalin                                     NaN
     Kraków                                       NaN
     Lublin                                     12.74
     Łódź                                       12.55
     Olsztyn                                    12.59
     Opole                                        NaN
     Poznań                                     12.64
     Rzeszów                                    11.64
     Wrocław                                    12.73
     Zielona Góra                               11.58

                   Liczba prosiąt w 21 dniu życia  \
Rasa Miasto
wbp  Warszawa                               11.15
     Białystok                              12.57
     Bydgoszcz                              11.76
     Gdańsk                                 10.90
     Katowice                                 NaN
     Kielce                                   NaN
     Koszalin                                 NaN
     Kraków                                   NaN
     Lublin                                 11.09
     Łódź                                   10.54
     Olsztyn                                12.02
     Opole                                    NaN
     Poznań                                 11.90
     Rzeszów                                10.41
     Wrocław                                11.35
     Zielona Góra                           10.85

                   Straty prosiąt do 21 dnia życia  Liczba sutków lochy  \
Rasa Miasto
wbp  Warszawa                                14.45                14.43
     Białystok                                9.16                16.00
     Bydgoszcz                                5.31                15.00
     Gdańsk                                   8.54                14.83
     Katowice                                  NaN                  NaN
     Kielce                                    NaN                  NaN
     Koszalin                                  NaN                  NaN
     Kraków                                    NaN                  NaN
     Lublin                                  12.37                15.28
     Łódź                                    14.42                15.76
     Olsztyn                                  4.43                15.06
     Opole                                     NaN                  NaN
     Poznań                                   5.83                14.62
     Rzeszów                                  9.63                15.16
     Wrocław                                  9.65                15.71
     Zielona Góra                             5.68                14.00

                   Wiek w dniu pierwszego oprosienia(dni)  \
Rasa Miasto
wbp  Warszawa                                       357.0
     Białystok                                      484.0
     Bydgoszcz                                      364.0
     Gdańsk                                         364.0
     Katowice                                         NaN
     Kielce                                           NaN
     Koszalin                                         NaN
     Kraków                                           NaN
     Lublin                                         338.0
     Łódź                                           400.0
     Olsztyn                                        350.0
     Opole                                            NaN
     Poznań                                         362.0
     Rzeszów                                        339.0
     Wrocław                                        372.0
     Zielona Góra                                   333.0

                   Okres miedzymiotu(dni)
Rasa Miasto
wbp  Warszawa                       173.0
     Białystok                      160.0
     Bydgoszcz                      168.0
     Gdańsk                         177.0
     Katowice                         NaN
     Kielce                           NaN
     Koszalin                         NaN
     Kraków                           NaN
     Lublin                         163.0
     Łódź                           175.0
     Olsztyn                        158.0
     Opole                            NaN
     Poznań                         169.0
     Rzeszów                        160.0
     Wrocław                        153.0
     Zielona Góra                   182.0

In [37]:
pbz_wwa = sortedDT(pbz, 'LWOJ1',2)
pbz_kta = sortedDT(pbz, 'LWOJ1',10)
pbz_kta2 = createDT('pbz')
all_count(pbz_kta,pbz_kta2)

,Rasa,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
1,pbz,194,303,94,12.89,11.12,12.51,15.22,355.0,169.0

In [38]:
pbz_wwa2 = createDT('pbz')
all_count(pbz_wwa, pbz_wwa2)

,Rasa,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
1,pbz,37,70,14,14.47,13.83,3.96,15.79,401.0,154.0

In [39]:
wbp2 = createDT('wbp')

In [40]:
all_count(wbp_wwa, wbp2)

,Rasa,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
1,wbp,148,245,68,13.78,13.02,5.1,15.51,384.0,160.0

In [41]:
wbp2

,Rasa,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
1,wbp,148,245,68,13.78,13.02,5.1,15.51,384.0,160.0

In [42]:
all_count(wbp_bia, city_wbp2)

NameError: name 'city_wbp2' is not defined

In [ ]:
def all_count(DF3, new):
    new['liczba loch'] = len(DF3.drop_duplicates(subset='LPROS1', keep="first").copy())
    new['liczba ocenionych miotów ogółem'] = len(DF3)
    new['liczba ocenionych miotów pierw.'] = len(DF3[DF3['NMIOT']==1])
    new['Liczba prosiąt urodzonych w miocie'] = np.around(DF3['LIL11'].mean(), decimals=2)
    new['Liczba prosiąt w 21 dniu życia'] = np.around(DF3['LIL21'].mean(), decimals=2)
    new['Straty prosiąt do 21 dnia życia'] = np.around(DF3['ST21'].mean(), decimals=2)
    new['Wiek w dniu pierwszego oprosienia(dni)'] = np.around(DF3['POP'].mean())
    new['Okres miedzymiotu(dni)'] = np.around(DF3['OMM'].mean())
    new['Liczba sutków lochy'] = np.around(DF3['ISUT'].mean(), decimals=2)

    return new

In [72]:
DF3.groupby(by = 'LWOJ1')

In [61]:
for i, sub in DF3.groupby('LWOJ1'):
    print("to jets i {}\t to jest sub {}".format(i,sub))

to jets i 2	 to jest sub            LPROS1  LRASA1       DURL       DURM  LRASAOJ  LIL11  LIL21  \
123    1069090818      50 2018-08-15 2020-08-09       50      9      9
35     3067040618      30 2018-10-27 2020-01-17       20     11     11
36     3067050318      30 2018-11-07 2020-01-02       20     11     11
37     3067040718      30 2018-10-27 2020-01-04       30     11     11
0     32252000519      10 2018-12-15 2020-01-27       20     15     15
...           ...     ...        ...        ...      ...    ...    ...
1735  32247036518      20 2020-03-14 2020-08-08       10     17     16
1736  32247036818      20 2020-07-16 2020-12-11       20     20     18
1737  32247037218      20 2019-11-21 2020-04-16       20     12     12
1738  32247037218      20 2020-04-16 2020-09-11       20     14     14
1746  32247089515      20 2019-08-09 2019-12-31       20      6      6

      LWAGA1  M_WAGUR      LDBRAK  NMIOT  LREJ1  LWOJ1  LSEK1  LSTA1  \
123        0     12.1         NaN      1      1      2      2     69
35         0      0.0         NaN      1      3      2      2     94
36         0      0.0         NaN      1      3      2      2     94
37         0      0.0         NaN      1      3      2      2     94
0          0      0.0         NaN      1     32      2      2    252
...      ...      ...         ...    ...    ...    ...    ...    ...
1735       0      0.0         NaN      2     98      2      1    247
1736       0      0.0  2021-02-25      2     98      2      1    247
1737       0      0.0         NaN      2     98      2      1    247
1738       0      0.0         NaN      3     98      2      1    247
1746       0      0.0         NaN      8     98      2      1    247

          NROJM1  LSUT1       NRMAM1       NOJMIO  PSUT  ISUT    POP    OMM  \
123   1042056715    7.0   1069032615   1107001619   7.0  14.0  725.0    NaN
35    3083001417    7.0   3067023115  02509054718   7.0  14.0  447.0    NaN
36    3083001417    7.0   3067022916  16112046615   7.0  14.0  421.0    NaN
37    3083001417    7.0   3067023115  03031100718   7.0  14.0  434.0    NaN
0     I600218/16    8.0  32252012717     I6883/18   9.0  17.0  408.0    NaN
...          ...    ...          ...          ...   ...   ...    ...    ...
1735    I7528/19    NaN          NaN          NaN   NaN   NaN    NaN  147.0
1736    I6883/18    NaN          NaN          NaN   NaN   NaN    NaN  148.0
1737    I7083/18    NaN          NaN          NaN   NaN   NaN    NaN  147.0
1738  I605326/17    NaN          NaN          NaN   NaN   NaN    NaN  148.0
1746    I6905/18    NaN          NaN          NaN   NaN   NaN    NaN  144.0

      STRATY       ST21
123        0   0.000000
35         0   0.000000
36         0   0.000000
37         0   0.000000
0          0   0.000000
...      ...        ...
1735       1   5.882353
1736       2  10.000000
1737       0   0.000000
1738       0   0.000000
1746       0   0.000000

[416 rows x 25 columns]
to jets i 4	 to jest sub         LPROS1  LRASA1       DURL       DURM  LRASAOJ  LIL11  LIL21  LWAGA1  \
13  1095001019      50 2019-01-04 2020-01-05       20      7      6       0
14  1095001119      50 2019-01-04 2020-01-10       20      5      3       0
15  1095001219      50 2019-01-04 2020-01-09       20      7      6       0
16  1095001619      50 2019-01-08 2020-01-12       20      5      4       0
17  1095001719      50 2019-01-08 2020-01-12       20      5      5       0
..         ...     ...        ...        ...      ...    ...    ...     ...
4   6495002719      10 2020-03-19 2020-08-20       10      8      8       0
9   6495006916      10 2019-08-03 2020-03-19       10     10     10       0
10  6495012018      10 2019-08-27 2020-07-03       10      7      7       0
13  6495012817      10 2019-08-16 2020-07-03       10     11     11       0
15  6495017218      10 2019-08-28 2020-11-15       10      6      4       0

    M_WAGUR      LDBRAK  NMIOT  LREJ1  LWOJ1  LSEK1  LSTA1       NROJM1  \
13      0.0         NaN      1      1      4      2    108   1005031017
14      0.0         NaN      1      1      4      2    108   1005031017
15      0.0         NaN      1      1      4      2    108   1005031017
16      0.0         NaN      1      1      4      2    108   1005031017
17      0.0         NaN      1      1      4      2    108   1005031017
..      ...         ...    ...    ...    ...    ...    ...          ...
4       0.0         NaN      2     98      4      1    495   I845110746
9       0.0  2020-08-03      6     98      4      1    495   I845110746
10      0.0         NaN      2     98      4      1    495  02473046318
13      0.0         NaN      4     98      4      1    495  02473045318
15      0.0         NaN      2     98      4      1    495  20199075518

    LSUT1      NRMAM1       NOJMIO  PSUT  ISUT    POP    OMM  STRATY  \
13    6.0  1095003218  26075004518   6.0  12.0  366.0    NaN       1
14    6.0  1095003218  26075004518   6.0  12.0  371.0    NaN       2
15    6.0  1095003218  26075004518   6.0  12.0  370.0    NaN       1
16    6.0  1095003018  26075004518   6.0  12.0  369.0    NaN       1
17    7.0  1095003018  26075004518   7.0  14.0  369.0    NaN       0
..    ...         ...          ...   ...   ...    ...    ...     ...
4     NaN         NaN          NaN   NaN   NaN    NaN  154.0       0
9     NaN         NaN          NaN   NaN   NaN    NaN  229.0       0
10    NaN         NaN          NaN   NaN   NaN    NaN  311.0       0
13    NaN         NaN          NaN   NaN   NaN    NaN  322.0       0
15    NaN         NaN          NaN   NaN   NaN    NaN  445.0       2

         ST21
13  14.285714
14  40.000000
15  14.285714
16  20.000000
17   0.000000
..        ...
4    0.000000
9    0.000000
10   0.000000
13   0.000000
15  33.333333

[3738 rows x 25 columns]
to jets i 6	 to jest sub            LPROS1  LRASA1       DURL       DURM  LRASAOJ  LIL11  LIL21  \
0     18053005219      10 2019-05-08 2020-04-20       10     12     12
1     18053005819      10 2019-05-25 2020-03-30       10     12     12
2     18053006219      10 2019-05-25 2020-03-30       10     13     13
3     18053006519      10 2019-05-26 2020-04-21       20     10      9
4     18053006619      10 2019-05-26 2020-05-24       10     12     11
...           ...     ...        ...        ...      ...    ...    ...
1460  18973001718      40 2020-06-10 2020-12-02       40      9      8
1461  18973008918      40 2019-09-02 2020-02-26       40     11      9
1462  18973008918      40 2020-02-26 2020-09-20       40     10      8
1463  18973012219      40 2020-04-16 2020-09-23       40     10      8
1464  18973016919      40 2020-05-08 2020-10-23       40     10      8

      LWAGA1  M_WAGUR      LDBRAK  NMIOT  LREJ1  LWOJ1  LSEK1  LSTA1  \
0          0      0.0         NaN      1     18      6      2     53
1          0      0.0  2021-01-11      1     18      6      2     53
2          0      0.0         NaN      1     18      6      2     53
3          0      0.0         NaN      1     18      6      2     53
4          0      0.0         NaN      1     18      6      2     53
...      ...      ...         ...    ...    ...    ...    ...    ...
1460       0      0.0         NaN      4     18      6      2    973
1461       0      0.0         NaN      2     18      6      2    973
1462       0      0.0         NaN      3     18      6      2    973
1463       0      0.0         NaN      2     18      6      2    973
1464       0      0.0         NaN      2     18      6      2    973

           NROJM1  LSUT1       NRMAM1       NOJMIO  PSUT  ISUT    POP    OMM  \
0     18804019417    8.0  18053026514   6501012418   7.0  15.0  348.0    NaN
1     18804019417    8.0  18053005516  28590070018   8.0  16.0  310.0    NaN
2     18804019417    7.0  18053019216  28590070018   7.0  14.0  310.0    NaN
3     18804019417    8.0  18053000917  16112007017   8.0  16.0  331.0    NaN
4     18804019417    8.0  18053000917   6501068018   7.0  15.0  364.0    NaN
...           ...    ...          ...          ...   ...   ...    ...    ...
1460  18973007919    NaN          NaN          NaN   NaN   NaN    NaN  175.0
1461  18973007919    NaN          NaN          NaN   NaN   NaN    NaN  177.0
1462  18973007919    NaN          NaN          NaN   NaN   NaN    NaN  207.0
1463  18973007919    NaN          NaN          NaN   NaN   NaN    NaN  160.0
1464  18973007919    NaN          NaN          NaN   NaN   NaN    NaN  168.0

      STRATY       ST21
0          0   0.000000
1          0   0.000000
2          0   0.000000
3          1  10.000000
4          1   8.333333
...      ...        ...
1460       1  11.111111
1461       2  18.181818
1462       2  20.000000
1463       2  20.000000
1464       2  20.000000

[1612 rows x 25 columns]
to jets i 8	 to jest sub          LPROS1  LRASA1       DURL       DURM  LRASAOJ  LIL11  LIL21  LWAGA1  \
28   3075002719      30 2019-01-17 2020-01-09       10      6      6      30
67   3075001719      30 2019-01-17 2020-02-03       10      4      4      21
68   3075001419      30 2019-01-17 2020-02-03       10      8      8      32
88   3075001519      30 2019-01-17 2020-05-15       10      5      5      31
118  3075001819      30 2019-01-17 2020-06-08       10      4      4       0
119  3075009119      30 2019-04-06 2020-06-14       10      9      9       0
120  3075009319      30 2019-04-06 2020-06-25       10      8      8       0
130  3075001619      30 2019-01-17 2020-08-13       10      7      7      41
131  3075002319      30 2019-01-17 2020-08-01       10      8      8      44
132  3075009819      30 2019-04-06 2020-07-30       10      8      8      40
133  3075009019      30 2019-04-06 2020-07-19       10      9      9      42
22   3075028217      30 2019-08-16 2020-01-06       10      9      9      49
23   3075029117      30 2019-07-29 2020-01-07       10      9      9      50
46   3069009816      30 2019-09-17 2020-01-30       10     10     10      56
195  3075031117      30 2019-09-16 2020-03-11       10      6      6      37
196  3069005114      30 2019-09-03 2020-03-13       10      6      6      38
197  3069008216      30 2019-11-05 2020-03-13       10      7      7      41
198  3075014417      30 2019-11-10 2020-03-30       10      8      8      48
199  3069009016      30 2019-11-22 2020-04-29       10     10     10      59
200  3075002419      30 2019-12-13 2020-05-03       10      6      6      36
304  3075027917      30 2019-11-05 2020-05-26       30     11     11       0
305  3069008816      30 2019-12-29 2020-05-30       30      8      8       0
306  3075002519      30 2019-12-16 2020-06-09       10      7      7       0
307  3069009816      30 2020-01-30 2020-06-22       10      8      8       0
308  3075029117      30 2020-01-07 2020-06-23       10      9      9       0
309  3075028217      30 2020-01-06 2020-06-25       10      8      8       0
368  3075001719      30 2020-02-03 2020-08-13       10      8      8      44
369  3075027217      30 2019-12-16 2020-08-06       10      9      9      53
370  3075002719      30 2020-01-09 2020-07-21       10      9      9      46
371  3075001419      30 2020-02-03 2020-07-19       10     10     10      54
372  3075028117      30 2019-11-20 2020-07-13       10      7      7      40
373  3075013717      30 2019-11-12 2020-07-08       10      7      7      34
606  3075001419      30 2020-07-19 2020-12-08       30      7      7      37
607  3075002519      30 2020-06-09 2020-12-07       30      8      8      42
608  3075029117      30 2020-06-23 2020-12-01       30     10     10      55
609  3075001819      30 2020-06-08 2020-11-17       30     10     10      55
610  3075027917      30 2020-05-26 2020-11-17       30      8      8      40
611  3075001519      30 2020-05-15 2020-10-21       30      6      6      34
612  3069009016      30 2020-04-29 2020-10-16       30     10     10      56
613  3075014417      30 2020-03-30 2020-09-09       30      8      8      42

     M_WAGUR LDBRAK  NMIOT  LREJ1  LWOJ1  LSEK1  LSTA1       NROJM1  LSUT1  \
28       9.5    NaN      1      3      8      2     75   3002025514    7.0
67       6.5    NaN      1      3      8      2     75   3002025514    7.0
68      12.7    NaN      1      3      8      2     75   3002025514    7.0
88       8.4    NaN      1      3      8      2     75   3002025514    7.0
118      0.0    NaN      1      3      8      2     75   3002025514    7.0
119      0.0    NaN      1      3      8      2     75   3002025514    7.0
120      0.0    NaN      1      3      8      2     75   3002025514    7.0
130     11.7    NaN      1      3      8      2     75   3002025514    7.0
131     12.1    NaN      1      3      8      2     75   3002025514    7.0
132     13.4    NaN      1      3      8      2     75   3002025514    7.0
133     13.4    NaN      1      3      8      2     75   3002025514    7.0
22      14.1    NaN      4      3      8      2     75  20310009516    NaN
23      14.5    NaN      4      3      8      2     75  20310009516    NaN
46      16.5    NaN      9      3      8      2     75  20310009516    NaN
195      9.4    NaN      4      3      8      2     75  20310009516    NaN
196      9.5    NaN     12      3      8      2     75  20310009516    NaN
197     11.5    NaN      8      3      8      2     75  20310009516    NaN
198     12.4    NaN      6      3      8      2     75  20310009516    NaN
199     14.9    NaN      9      3      8      2     75  20310009516    NaN
200      9.1    NaN      2      3      8      2     75  20310009516    NaN
304      0.0    NaN      5      3      8      2     75  03070001118    NaN
305      0.0    NaN      9      3      8      2     75  03070001118    NaN
306      0.0    NaN      2      3      8      2     75  20310009516    NaN
307      0.0    NaN     10      3      8      2     75  20310009516    NaN
308      0.0    NaN      5      3      8      2     75  20310009516    NaN
309      0.0    NaN      5      3      8      2     75  20310009516    NaN
368     12.9    NaN      2      3      8      2     75  20310009516    NaN
369     14.3    NaN      4      3      8      2     75  20310009516    NaN
370     13.7    NaN      2      3      8      2     75  20310009516    NaN
371     15.3    NaN      2      3      8      2     75  20310009516    NaN
372     11.7    NaN      4      3      8      2     75  20310009516    NaN
373     11.1    NaN      6      3      8      2     75  20310009516    NaN
606     11.5    NaN      3      3      8      2     75  03070001118    NaN
607     11.1    NaN      3      3      8      2     75  03070001118    NaN
608     16.3    NaN      6      3      8      2     75  03070001118    NaN
609     15.0    NaN      2      3      8      2     75  03070001118    NaN
610     13.2    NaN      6      3      8      2     75  03070001118    NaN
611     10.5    NaN      2      3      8      2     75  03070001118    NaN
612     14.6    NaN     10      3      8      2     75  03070001118    NaN
613     13.4    NaN      7      3      8      2     75  03070001118    NaN

         NRMAM1       NOJMIO  PSUT  ISUT    POP    OMM  STRATY  ST21
28   3069009016  20310009516   7.0  14.0  357.0    NaN       0   0.0
67   3069008216  20310009516   7.0  14.0  382.0    NaN       0   0.0
68   3069008216  20310009516   7.0  14.0  382.0    NaN       0   0.0
88   3069008216  20310009516   7.0  14.0  484.0    NaN       0   0.0
118  3069008216  20310009516   7.0  14.0  508.0    NaN       0   0.0
119  3069005114  20310009516   7.0  14.0  435.0    NaN       0   0.0
120  3069005114  20310009516   7.0  14.0  446.0    NaN       0   0.0
130  3069008216  20310009516   7.0  14.0  574.0    NaN       0   0.0
131  3069009016  20310009516   7.0  14.0  562.0    NaN       0   0.0
132  3069005114  20310009516   7.0  14.0  481.0    NaN       0   0.0
133  3069005114  20310009516   7.0  14.0  470.0    NaN       0   0.0
22          NaN          NaN   NaN   NaN    NaN  143.0       0   0.0
23          NaN          NaN   NaN   NaN    NaN  162.0       0   0.0
46          NaN          NaN   NaN   NaN    NaN  135.0       0   0.0
195         NaN          NaN   NaN   NaN    NaN  177.0       0   0.0
196         NaN          NaN   NaN   NaN    NaN  192.0       0   0.0
197         NaN          NaN   NaN   NaN    NaN  129.0       0   0.0
198         NaN          NaN   NaN   NaN    NaN  141.0       0   0.0
199         NaN          NaN   NaN   NaN    NaN  159.0       0   0.0
200         NaN          NaN   NaN   NaN    NaN  142.0       0   0.0
304         NaN          NaN   NaN   NaN    NaN  203.0       0   0.0
305         NaN          NaN   NaN   NaN    NaN  153.0       0   0.0
306         NaN          NaN   NaN   NaN    NaN  176.0       0   0.0
307         NaN          NaN   NaN   NaN    NaN  144.0       0   0.0
308         NaN          NaN   NaN   NaN    NaN  168.0       0   0.0
309         NaN          NaN   NaN   NaN    NaN  171.0       0   0.0
368         NaN          NaN   NaN   NaN    NaN  192.0       0   0.0
369         NaN          NaN   NaN   NaN    NaN  234.0       0   0.0
370         NaN          NaN   NaN   NaN    NaN  194.0       0   0.0
371         NaN          NaN   NaN   NaN    NaN  167.0       0   0.0
372         NaN          NaN   NaN   NaN    NaN  236.0       0   0.0
373         NaN          NaN   NaN   NaN    NaN  239.0       0   0.0
606         NaN          NaN   NaN   NaN    NaN  142.0       0   0.0
607         NaN          NaN   NaN   NaN    NaN  181.0       0   0.0
608         NaN          NaN   NaN   NaN    NaN  161.0       0   0.0
609         NaN          NaN   NaN   NaN    NaN  162.0       0   0.0
610         NaN          NaN   NaN   NaN    NaN  175.0       0   0.0
611         NaN          NaN   NaN   NaN    NaN  159.0       0   0.0
612         NaN          NaN   NaN   NaN    NaN  170.0       0   0.0
613         NaN          NaN   NaN   NaN    NaN  163.0       0   0.0
to jets i 10	 to jest sub           LPROS1  LRASA1       DURL       DURM  LRASAOJ  LIL11  LIL21  LWAGA1  \
0     6478067819      10 2019-07-20 2020-07-14       20      9      6       0
1     6478069219      10 2019-07-23 2020-11-11       20      9      9       0
2     6478069419      10 2019-07-23 2020-07-11       20     10      7       0
3     6478072419      10 2019-08-05 2020-07-22       20      8      4       0
6    20043006619      10 2019-06-12 2020-06-28       20      0      0       0
..           ...     ...        ...        ...      ...    ...    ...     ...
635  20309008617      80 2019-08-23 2020-01-25       70      8      6       0
637  20309008918      80 2020-01-14 2020-06-15       80      9      7       0
638  20309008918      80 2020-06-15 2020-11-29       80     13      8       0
639  20309009318      80 2020-01-14 2020-10-24       70      7      5       0
640  20309010618      80 2020-01-28 2020-09-12       70      7      5       0

     M_WAGUR      LDBRAK  NMIOT  LREJ1  LWOJ1  LSEK1  LSTA1       NROJM1  \
0        0.0  2021-01-12      1     20     10      2     43  06478068318
1        0.0         NaN      1     20     10      2     43  06478068318
2        0.0         NaN      1     20     10      2     43  06478068318
3        0.0         NaN      1     20     10      2     43   I600176/16
6        0.0         NaN      1     20     10      2     43   I845110746
..       ...         ...    ...    ...    ...    ...    ...          ...
635      0.0  2020-04-20      4     20     10      2    309  20308008418
637      0.0         NaN      2     20     10      2    309  20309004518
638      0.0         NaN      3     20     10      2    309   I431519/17
639      0.0         NaN      2     20     10      2    309  I2358283020
640      0.0  2020-11-03      2     20     10      2    309  20308011317

     LSUT1       NRMAM1       NOJMIO  PSUT  ISUT    POP    OMM  STRATY  \
0      8.0   6478020718  06011070819   8.0  16.0  360.0    NaN       3
1      8.0   6478067218  06011070819   8.0  16.0  477.0    NaN       0
2      8.0   6478067218  06011070819   9.0  17.0  354.0    NaN       3

In [43]:
def city_count(DT,dt):
    for i, sub in dt.groupby('LWOJ1'):
        DT.loc[dic_miasta[i]]['Liczba loch'] = sub.drop_duplicates(subset='LPROS1', keep="first")(len)
        DT.loc[dic_miasta[i]]['liczba ocenionych miotów ogółem'] = len(sub)
        DT.loc[dic_miasta[i]]['liczba ocenionych miotów pierw.'] = len(sub[sub['NMIOT']==1])
        DT.loc[dic_miasta[i]]['Liczba prosiąt urodzonych w miocie'] = np.around(sub['LIL11'].mean(), decimals=2)
        DT.loc[dic_miasta[i]]['Liczba prosiąt w 21 dniu życia'] = np.around(sub['LIL21'].mean(), decimals=2)
        DT.loc[dic_miasta[i]]['Straty prosiąt do 21 dnia życia'] = np.around(sub['ST21'].mean(), decimals=2)
        DT.loc[dic_miasta[i]]['Wiek w dniu pierwszego oprosienia(dni)'] = np.around(sub['POP'].mean())
        DT.loc[dic_miasta[i]]['Okres miedzymiotu(dni)'] = np.around(sub['OMM'].mean())
        DT.loc[dic_miasta[i]]['Liczba sutków lochy'] = np.around(sub['ISUT'].mean(), decimals=2)

In [44]:
def createDT2():
    temp = pd.DataFrame(columns = ['Miasto','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'])
    temp['Miasto'] = ['Warszawa','Białystok','Bydgoszcz','Gdańsk','Katowice','Kielce','Koszalin','Kraków','Lublin','Łódź'
                     'Olsztyn','Opole','Poznań','Rzeszów','Wrocław','Zielona Góra']
    temp = pd.DataFrame(temp).set_index('Miasto')
    return temp

In [55]:
cityDF = createDT2()

In [58]:
pd.set_option('display.max_columns', None)

In [60]:
cityDF = city_count(cityDF, DF3)

TypeError: 'DataFrame' object is not callable

In [45]:
city_wbp2 = createDT2()

In [48]:
city_wbp

NameError: name 'city_wbp' is not defined

In [40]:
wbp.to_csv('Results.csv', header=True, index=False, sep=';', mode='w')