In [1]:
# importuje niezbędne biblioteki
import re
from datetime import datetime
import pandas as pd
import numpy as np
from tkinter import filedialog
from tkinter import *
import os, sys
import glob
from matplotlib.backends.backend_pdf import PdfPages
import time

In [2]:
# Tworzymy listę i dwa puste DF
listOfFiles = []
DFL = pd.DataFrame()
DFM = pd.DataFrame()

In [3]:
# Funkcja pobiera listę ścieżek
def get_filenames():
    Tk().withdraw()
    print("Initializing Dialogue... \nPlease select a file.")
    tk_filenames = filedialog.askdirectory()
    tempDir = tk_filenames
    return tempDir


choosen_dir = get_filenames()
# glob zbiera listę plików 
os.chdir(choosen_dir)
for file in glob.glob("*.csv"):
    listOfFiles.append(file)

# Do wcześniej stworzonych DF dodajemy kolejno pliki w zależności od tego na jaką literę plik się zaczyna.
for file in listOfFiles:
    if file.startswith('L'):
        Table = pd.read_csv(file, sep=',')
        DF1 = pd.DataFrame(Table)
        DFL = DFL.append(DF1, sort=False)
    elif file.startswith('M'):
        Table2 = pd.read_csv(file, sep=',')
        DF2 = pd.DataFrame(Table2)
        DFM = DFM.append(DF2, sort=False)

Initializing Dialogue...
Please select a file.

In [4]:
# Deklaruje listę kolumn którę będą mi potrzebne
DFL['NMIOT'] = 1
cols1 = ['LPROS1', 'LRASA1', 'LDUR', 'LDOP', 'LRASAOJ', 'LIL11', 'LIL21','LWAGA1','M_WAGUR','LDBRAK','NMIOT','LREJ1',
        'LWOJ1', 'LSEK1', 'LSTA1','NROJM1','LSUT1', 'NRMAM1', 'NOJMIO']
DFL = DFL[cols1]

In [5]:
# Zmieniam nazwy kolumn tak by odpowiadały kolumnon z DFL
DFM['LSUT1'] = np.nan  
DFM = DFM.rename(columns={'LDUR': 'LDUR1'})
DFM = DFM.rename(columns={'LDOP': 'LDUR'})
DFM = DFM.rename(columns={'LDUR1': 'LDOP'})
DFM = DFM.rename(columns={'RASAOJ': 'LRASAOJ'})
DFM = DFM.rename(columns={'NRO': 'NROJM1'})
DFM = DFM.rename(columns={'LREJ': 'LREJ1'})
DFM = DFM.rename(columns={'LWOJ': 'LWOJ1'})
# Deklaruje listę kolumn którę będą mi potrzebne
cols2 = ['LPROS1', 'LRASA1', 'LDUR', 'LDOP', 'LRASAOJ', 'LIL11', 'LIL21','LWAGA1','M_WAGUR','LDBRAK','NMIOT','LREJ1',
        'LWOJ1', 'LSEK1', 'LSTA1','LSUT1','NROJM1']
DFM = DFM[cols2]

In [6]:
# Rozdzielam sutki prawe od lewych
DFL['PSUT'] = DFL['LSUT1'].astype(str).str[1]
DFL['LSUT1'] = DFL['LSUT1'].astype(str).str[0]

In [7]:
# Convertuje liczby sutków do inta
convert_dict = {'LSUT1': int,
                'PSUT': int
               }
  
DFL = DFL.astype(convert_dict)

In [8]:
# Liczę sumę sutków prawych i lewych
DFL['ISUT'] = DFL['PSUT'] + DFL['LSUT1']

In [9]:
# Wprowadzamy przedział czasowy z jakiego będą pobieranie dane
date1 = input('Date range from YYYY-MM-DD') 
date2 = input('Date range to YYYY-MM-DD')

Date range from YYYY-MM-DD 2019-12-12
Date range to YYYY-MM-DD 2020-12-11

In [10]:
# Funkcja zamienia format kolumn na format daty
class ToDate():

    def change_to_date(self, a, b):
        a[b] = pd.to_datetime(a[b])


dat = ToDate()
dat.change_to_date(DFL, 'LDOP')
dat.change_to_date(DFM, 'LDOP')
dat.change_to_date(DFL, 'LDUR')
dat.change_to_date(DFM, 'LDUR')

In [11]:
# W DF zostawaimy tylko dane z wcześniej zadeklarowanego przedziału czasowego
DFL = DFL[(DFL['LDOP'] >= date1) & (DFL['LDOP'] <= date2)]
DFM = DFM[(DFM['LDOP'] >= date1) & (DFM['LDOP'] <= date2)]

In [12]:
# Wyliczamy:
# Datę pierwszego oprosienia
DFL['POP'] = DFL['LDOP'] - DFL['LDUR']
# Okres międzymiotu
DFM['OMM'] = DFM['LDOP'] - DFM['LDUR']
# Zamieniam ww wartości na dni
DFL['POP'] = DFL['POP'] / np.timedelta64(1, 'D')
DFM['OMM'] = DFM['OMM'] / np.timedelta64(1, 'D')

In [13]:
# W zmiennej DF3 łączymy poprzednie DF
DF3 = DFL.append(DFM)

In [14]:
DF3 = DF3.rename(columns={'LDUR': 'DURL'})
DF3 = DF3.rename(columns={'LDOP': 'DURM'})

In [15]:
# Wyliczamy ile prosiąt nie dożyło 21 dnia życia
DF3['STRATY'] = DF3['LIL11'] - DF3['LIL21']

In [16]:
# Wyliczamy wartość % strat
DF3['ST21'] = (DF3['STRATY'] / DF3['LIL11']) * 100

In [17]:
# Funkcja tworzy DF z określonymi już kolumnami
def createDT(name):
    temp = pd.DataFrame(columns = ['Rasa','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])
    temp['Rasa'] = name
    return temp

In [18]:
# Funkcja sortuje dane po odpowiedniej rasie
def sortedDT(DT, col, number):
    newDT = DT[DT[col] == number]
    return newDT
# Funkcja sortuje dane po rasie matki i rasie ojca
def sorted2DT(DT,number1,number2):
    newDT = DT[(DT.LRASA1 == number1) & (DT.LRASAOJ == number2)]
    return newDT

def months(DT, col, col2):
    newDT = DT[DT[col] != DT[col2]]
    return newDT

In [19]:
# Funkcja wylicza wszystkie niezbędne wartości i przypisuje je do DF
def all_count(DF3, new):
    new['liczba loch'] = len(DF3.drop_duplicates(subset='LPROS1', keep="first").copy())
    new['liczba ocenionych miotów ogółem'] = len(DF3)
    new['liczba ocenionych miotów pierw.'] = len(DF3[DF3['NMIOT']==1])
    new['Liczba prosiąt urodzonych w miocie'] = np.around(DF3['LIL11'].mean(), decimals=2)
    new['Liczba prosiąt w 21 dniu życia'] = np.around(DF3['LIL21'].mean(), decimals=2)
    new['Straty prosiąt do 21 dnia życia'] = np.around(DF3['ST21'].mean(), decimals=2)
    new['Wiek w dniu pierwszego oprosienia(dni)'] = np.around(DF3['POP'].mean())
    new['Okres miedzymiotu(dni)'] = np.around(DF3['OMM'].mean())
    new['Liczba sutków lochy'] = np.around(DF3['ISUT'].mean(), decimals=2)

    return new

In [20]:
WBP = createDT('Wbp')
wbp = sortedDT(DF3,'LRASA1',10).copy()
all_count(wbp,WBP)

PBZ = createDT('Pbz')
pbz = sortedDT(DF3,'LRASA1',20).copy()
all_count(pbz,PBZ)

HAMP = createDT('Hampshire')
hamp = sortedDT(DF3,'LRASA1',60).copy()
all_count(hamp,HAMP)

DUR = createDT('Duroc')
dur = sortedDT(DF3,'LRASA1',70).copy()
all_count(dur,DUR)

PIET = createDT('Pietrain')
piet = sortedDT(DF3,'LRASA1',80).copy()
all_count(piet,PIET)

L99 = createDT('Linia 990')
l99 = sortedDT(DF3,'LRASA1',90).copy()
all_count(l99,L99)

ZB = createDT('Złotnicka Biała')
zb = sortedDT(DF3,'LRASA1',30).copy()
all_count(zb,ZB)

ZPS = createDT('Złotnicka Pstra')
zps = sortedDT(DF3,'LRASA1',50).copy()
all_count(zps,ZPS)

PULA = createDT('Puławska')
pula = sortedDT(DF3,'LRASA1',40).copy()
all_count(pula,PULA)

,Rasa,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
1,Puławska,2110,3316,590,10.29,9.14,10.64,14.34,378.0,202.0

In [21]:
#Łącze wyniki ras w jeden DF i ustalam Rasę jako index
rasaDF = pd.concat([WBP,PBZ,HAMP,DUR,PIET,L99,PULA,ZB,ZPS])
rasaDF.set_index('Rasa',inplace=True)
rasaDF

,liczba loch,liczba ocenionych miotów ogółem,liczba ocenionych miotów pierw.,Liczba prosiąt urodzonych w miocie,Liczba prosiąt w 21 dniu życia,Straty prosiąt do 21 dnia życia,Liczba sutków lochy,Wiek w dniu pierwszego oprosienia(dni),Okres miedzymiotu(dni)
Rasa,,,,,,,,,
Wbp,1944,3315,736,12.48,11.65,6.26,14.99,365.0,167.0
Pbz,3104,5134,1287,12.65,11.72,6.82,15.29,359.0,173.0
Hampshire,13,26,5,12.42,11.04,11.15,14.20,445.0,182.0
Duroc,328,556,103,11.87,10.82,8.26,13.66,371.0,180.0
Pietrain,298,522,95,11.58,10.90,5.54,14.11,383.0,181.0
Linia 990,895,1580,335,9.96,9.48,4.78,14.19,374.0,155.0
Puławska,2110,3316,590,10.29,9.14,10.64,14.34,378.0,202.0
Złotnicka Biała,1134,1627,208,8.62,8.00,6.44,14.00,384.0,235.0
Złotnicka Pstra,998,1272,167,8.24,6.98,14.56,13.24,426.0,262.0

In [39]:
# Deklaruje słoknik miast
dic_miasta = {1:'Poznań',
             2:'Warszawa',
             3:'Poznań',
             4:'Białystok',
             6:'Bydgoszcz',
             8:'Gdańsk',
             10:'Katowice',
             12:'Kielce',
             14:'Koszalin',
             16:'Kraków',
             18:'Lublin',
             20:'Łódź',
             22:'Olsztyn',
             24:'Opole',
             26:'Poznań',
             28:'Rzeszów',
             32:'Wrocław',
             34:'Zielona Góra',
             98:'98'}
# Deklaruje listę wydzielonych ras
race_list = [wbp,pbz,hamp,dur,piet,l99,zb,zps,pula]
race_names = ['WBP','PBZ','Hampshire','Duroc','Pietrain','Linia 990','PUL','ZLB','ZLP']

In [24]:
def create_cityDT(city, race):
    temp = pd.DataFrame(columns = ['Rasa', 'Miasto','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])
    temp['Miasto'] = city
    if race is wbp:
        temp['Rasa'] = "WBP"
    elif race is pbz:
        temp['Rasa'] = "PBZ"
    elif race is hamp:
        temp['Rasa'] = "Hampshire"
    elif race is dur:
        temp['Rasa'] = "Duroc"
    elif race is piet:
        temp['Rasa'] = "Pietrain"
    elif race is l99:
        temp['Rasa'] = "Linia 99"
    elif race is zb:
        temp['Rasa'] = "Złotnicka Biała"
    elif race is zps:
        temp['Rasa'] = "Złotnicka Pstra"
    elif race is pula:
        temp['Rasa'] = "Puławska"
    return temp

cityDF = pd.DataFrame(columns = ['Rasa', 'Miasto','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])

temp =  pd.DataFrame(columns = ['Rasa', 'Miasto','liczba loch','liczba ocenionych miotów ogółem', 
                                   'liczba ocenionych miotów pierw.','Liczba prosiąt urodzonych w miocie',
                                   'Liczba prosiąt w 21 dniu życia','Straty prosiąt do 21 dnia życia','Liczba sutków lochy',
                                   'Wiek w dniu pierwszego oprosienia(dni)','Okres miedzymiotu(dni)'],index =[1])

In [33]:
CompleteCityDF = pd.DataFrame()

for city in dic_miasta:
    for race in race_list:
        tempDF = create_cityDT(dic_miasta[city],race)    
        tempDF2 = sortedDT(race, "LREJ1", city)
        rdy = all_count(tempDF2,tempDF)
        CompleteCityDF = pd.concat([CompleteCityDF,rdy])

In [35]:
CompleteCityDF['Okres miedzymiotu(dni)'] = CompleteCityDF['Okres miedzymiotu(dni)'].fillna('-')
CompleteCityDF = CompleteCityDF.set_index(['Rasa','Miasto']).sort_index(ascending = True).dropna()

In [37]:
CompleteCityDF

                              liczba loch  liczba ocenionych miotów ogółem  \
Rasa            Miasto
Duroc           98                     44                               68
                Bydgoszcz             119                              218
                Gdańsk                  7                               11
                Olsztyn                49                               78
                Poznań                 73                              124
                Warszawa               14                               20
                Łódź                   22                               37
Hampshire       Bydgoszcz              13                               26
Linia 99        Poznań                895                             1580
PBZ             98                    340                              585
                Białystok               5                                6
                Bydgoszcz             843                             1485
                Gdańsk                300                              499
                Katowice              125                              204
                Kielce                 91                              148
                Kraków                 52                               79
                Lublin                 21                               40
                Olsztyn               153                              256
                Opole                 108                              158
                Poznań                663                             1013
                Rzeszów                47                               77
                Warszawa              140                              232
                Zielona Góra           22                               49
                Łódź                  194                              303
Pietrain        Bydgoszcz              72                              133
                Gdańsk                  9                               12
                Katowice               10                               19
                Olsztyn               118                              212
                Opole                  43                               72
                Poznań                 34                               58
                Łódź                   12                               16
Puławska        Białystok             132                              187
                Bydgoszcz             314                              520
                Gdańsk                115                              210
                Kielce                 15                               19
                Koszalin               33                               67
                Kraków                 29                               48
                Lublin                951                             1523
                Olsztyn                12                               29
                Opole                  78                              117
                Poznań                 17                               17
                Warszawa              387                              551
                Łódź                   21                               21
WBP             98                    393                              632
                Białystok              53                              104
                Bydgoszcz             656                             1178
                Gdańsk                 79                              113
                Lublin                 79                              129
                Olsztyn                58                              106
                Poznań                400                              679
                Rzeszów                80                              145
                Warszawa               30                               46
                Wrocław                35                               60
                Zielona Góra           15                               26
                Łódź                   66                               97
Złotnicka Biała Poznań               1134                             1627
Złotnicka Pstra Poznań                998                             1272

                              liczba ocenionych miotów pierw.  \
Rasa            Miasto
Duroc           98                                         18
                Bydgoszcz                                  32
                Gdańsk                                      4
                Olsztyn                                    22
                Poznań                                     12
                Warszawa                                    8
                Łódź                                        7
Hampshire       Bydgoszcz                                   5
Linia 99        Poznań                                    335
PBZ             98                                        162
                Białystok                                   2
                Bydgoszcz                                 308
                Gdańsk                                    123
                Katowice                                   37
                Kielce                                     38
                Kraków                                     30
                Lublin                                      6
                Olsztyn                                    55
                Opole                                      44
                Poznań                                    297
                Rzeszów                                    23
                Warszawa                                   66
                Zielona Góra                                2
                Łódź                                       94
Pietrain        Bydgoszcz                                  18
                Gdańsk                                      4
                Katowice                                    5
                Olsztyn                                    34
                Opole                                      14
                Poznań                                     13
                Łódź                                        7
Puławska        Białystok                                  19
                Bydgoszcz                                 101
                Gdańsk                                     58
                Kielce                                      6
                Koszalin                                    3
                Kraków                                      5
                Lublin                                    256
                Olsztyn                                    12
                Opole                                      35
                Poznań                                     17
                Warszawa                                   57
                Łódź                                       21
WBP             98                                        168
                Białystok                                   1
                Bydgoszcz                                 236
                Gdańsk                                     42
                Lublin                                     36
                Olsztyn                                    16
                Poznań                                    126
                Rzeszów                                    38
                Warszawa                                   14
                Wrocław                                    14
                Zielona Góra                                7
                Łódź                                       38
Złotnicka Biała Poznań                                    208
Złotnicka Pstra Poznań                                    167

                              Liczba prosiąt urodzonych w miocie  \
Rasa            Miasto
Duroc           98                                         11.54
                Bydgoszcz                                  11.86
                Gdańsk                                     10.82
                Olsztyn                                    11.47
                Poznań                                     13.03
                Warszawa                                   11.55
                Łódź                                        9.97
Hampshire       Bydgoszcz                                  12.42
Linia 99        Poznań                                      9.96
PBZ             98                                         12.98
                Białystok                                  11.67
                Bydgoszcz                                  12.50
                Gdańsk                                     12.44
                Katowice                                   12.23
                Kielce                                     12.07
                Kraków                                     12.54
                Lublin                                     12.75
                Olsztyn                                    12.36
                Opole                                      12.56
                Poznań                                     12.94
                Rzeszów                                    11.00
                Warszawa                                   13.41
                Zielona Góra                               12.12
                Łódź                                       12.89
Pietrain        Bydgoszcz                                  11.75
                Gdańsk                                     11.58
                Katowice                                   11.47
                Olsztyn                                    12.06
                Opole                                      10.17
                Poznań                                     11.90
                Łódź                                        9.06
Puławska        Białystok                                   9.09
                Bydgoszcz                                   9.59
                Gdańsk                                     10.14
                Kielce                                      9.95
                Koszalin                                    9.87
                Kraków                                     11.17
                Lublin                                     11.04
                Olsztyn                                     7.14
                Opole                                       9.46
                Poznań                                      9.00
                Warszawa                                    9.85
                Łódź                                        7.71
WBP             98                                         12.23
                Białystok                                  14.01
                Bydgoszcz                                  12.46
                Gdańsk                                     12.06
                Lublin                                     12.74
                Olsztyn                                    12.59
                Poznań                                     12.64
                Rzeszów                                    11.64
                Warszawa                                   13.15
                Wrocław                                    12.73
                Zielona Góra                               11.58
                Łódź                                       12.55
Złotnicka Biała Poznań                                      8.62
Złotnicka Pstra Poznań                                      8.24

                              Liczba prosiąt w 21 dniu życia  \
Rasa            Miasto
Duroc           98                                     11.18
                Bydgoszcz                              10.85
                Gdańsk                                 10.82
                Olsztyn                                11.00
                Poznań                                 11.17
                Warszawa                               10.30
                Łódź                                    8.76
Hampshire       Bydgoszcz                              11.04
Linia 99        Poznań                                  9.48
PBZ             98                                     12.71
                Białystok                              11.17
                Bydgoszcz                              11.72
                Gdańsk                                 11.52
                Katowice                               11.03
                Kielce                                 10.73
                Kraków                                 11.01
                Lublin                                 10.98
                Olsztyn                                11.86
                Opole                                  12.15
                Poznań                                 11.80
                Rzeszów                                10.26
                Warszawa                               11.93
                Zielona Góra                           11.22
                Łódź                                   11.12
Pietrain        Bydgoszcz                              10.96
                Gdańsk                                 11.00
                Katowice                               10.21
                Olsztyn                                11.66
                Opole                                   9.60
                Poznań                                 10.88
                Łódź                                    7.06
Puławska        Białystok                               7.65
                Bydgoszcz                               8.76
                Gdańsk                                  8.71
                Kielce                                  8.74
                Koszalin                                9.45
                Kraków                                 10.29
                Lublin                                  9.59
                Olsztyn                                 7.10
                Opole                                   8.84
                Poznań                                  8.35
                Warszawa                                9.13
                Łódź                                    6.33
WBP             98                                     11.76
                Białystok                              12.57
                Bydgoszcz                              11.76
                Gdańsk                                 10.90
                Lublin                                 11.09
                Olsztyn                                12.02
                Poznań                                 11.90
                Rzeszów                                10.41
                Warszawa                               11.15
                Wrocław                                11.35
                Zielona Góra                           10.85
                Łódź                                   10.54
Złotnicka Biała Poznań                                  8.00
Złotnicka Pstra Poznań                                  6.98

                              Straty prosiąt do 21 dnia życia  \
Rasa            Miasto
Duroc           98                                       2.81
                Bydgoszcz                                8.11
                Gdańsk                                   0.00
                Olsztyn                                  3.86
                Poznań                                  13.89
                Warszawa                                10.45
                Łódź                                    10.89
Hampshire       Bydgoszcz                               11.15
Linia 99        Poznań                                   4.78
PBZ             98                                       1.74
                Białystok                                4.06
                Bydgoszcz                                5.96
                Gdańsk                                   6.51
                Katowice                                 9.56
                Kielce                                  10.41
                Kraków                                  11.51
                Lublin                                  13.68
                Olsztyn                                  3.88
                Opole                                    3.23
                Poznań                                   8.31
                Rzeszów                                  6.51
                Warszawa                                10.24
                Zielona Góra                             6.57
                Łódź                                    12.51
Pietrain        Bydgoszcz                                6.26
                Gdańsk                                   4.65
                Katowice                                11.13
                Olsztyn                                  3.18
                Opole                                    4.17
                Poznań                                   8.35
                Łódź                                    20.85
Puławska        Białystok                               13.56
                Bydgoszcz                                8.79
                Gdańsk                                  13.79
                Kielce                                  10.68
                Koszalin                                 4.02
                Kraków                                   6.83
                Lublin                                  12.91
                Olsztyn                                  0.31
                Opole                                    6.23
                Poznań                                   6.68
                Warszawa                                 6.45
                Łódź                                    18.42
WBP             98                                       3.78
                Białystok                                9.16
                Bydgoszcz                                5.31
                Gdańsk                                   8.54
                Lublin                                  12.37
                Olsztyn                                  4.43
                Poznań                                   5.83
                Rzeszów                                  9.63
                Warszawa                                14.45
                Wrocław                                  9.65
                Zielona Góra                             5.68
                Łódź                                    14.42
Złotnicka Biała Poznań                                   6.44
Złotnicka Pstra Poznań                                  14.56

                              Liczba sutków lochy  \
Rasa            Miasto
Duroc           98                          13.50
                Bydgoszcz                   13.28
                Gdańsk                      13.25
                Olsztyn                     14.50
                Poznań                      13.92
                Warszawa                    13.25
                Łódź                        13.43
Hampshire       Bydgoszcz                   14.20
Linia 99        Poznań                      14.19
PBZ             98                          16.10
                Białystok                   15.00
                Bydgoszcz                   15.13
                Gdańsk                      15.16
                Katowice                    14.76
                Kielce                      15.26
                Kraków                      14.93
                Lublin                      15.00
                Olsztyn                     16.16