In [1]:
import csv
import psycopg2
import os
import glob


conn = psycopg2.connect("host= 10.64.10.85 port=5432  dbname=iz_BD user= maciek password= Test1234!!!!")
print("Connecting to Database")

cur = conn.cursor()
csvPath = "C:\\Users\\maciej.olech\\Desktop\\structure_files\\"

list_of_char = ['KE','KOJ','KMT','PROS','NRO','NRM','NRCHL','NR_ZWIERZ','NR_OJCA','NR_MATKI','ZNAK1','NR_KNURA','NR_LOCHY']
list_of_date = ['KDOC','KDUR','DWYB','DOC','DOP','KD']
list_of_int = ['KT','KP']
numeric1_4 = ['KY3','KY5','OKO','PROC_MIES']
numeric1_5 = ['MIESO_PROC','ILUR','IL21']
numeric2_5 = ['H_PD','H_PM','H_IN','H_IN_1','H_IN_2','H_IN_3','H_IN_4','H_IN_5','H_IN_6']
numeric4_10 = ['X1','X2','S1','S2','BLUP_ZWH','BLUP_M','S1M','S2M','BLUP_C','S1C','S2C','S1M1','S2M1','S1M2','S2M2','S1M3','S2M3','S1M4','S2M4','S1MW','S2MW']
# Loop through each CSV
for filename in glob.glob(csvPath+"*.csv"):
# Create a table name
    tablename = filename.replace("C:\\Users\\maciej.olech\\Desktop\\structure_files\\", "")
    tablename = tablename.replace(".csv", "")
    print(tablename)

    # Open file
    fileInput = open(filename, "r")

    # Extract first line of file
    firstLine = fileInput.readline().strip()

    # Split columns into an array [...]
    columns = firstLine.split(",")

    # Build SQL code to drop table if exists and create table
    sqlQueryCreate = 'DROP TABLE IF EXISTS '+ tablename + ";\n"
    sqlQueryCreate += 'CREATE TABLE '+ tablename + "("

    #some loop or function according to your requiremennt
    # Define columns for table
    for column in columns:
        if column in list_of_char:
            sqlQueryCreate += column + " VARCHAR(64),\n"
        elif column in list_of_date:
            sqlQueryCreate += column + " DATE,\n"
        elif column in numeric1_4:
            sqlQueryCreate += column + " NUMERIC(4,1),\n"
        elif column in numeric1_5:
            sqlQueryCreate += column + " NUMERIC(5,1),\n"
        elif column in numeric2_5:
            sqlQueryCreate += column + " NUMERIC(5,2),\n"
        elif column in numeric4_10:
            sqlQueryCreate += column + " NUMERIC(10,4),\n"
        elif column in list_of_int:
            sqlQueryCreate += column + " INT,\n"
        else:
            sqlQueryCreate += column + " FLOAT,\n"
    sqlQueryCreate = sqlQueryCreate[:-2]
    sqlQueryCreate += ");"

    cur.execute(sqlQueryCreate)
    conn.commit()

cur.close()
print("Create tables done!!")

Connecting to Database
knury
lochy
MAG
mlode
rozplodowa
Create tables done!!